#root {
  max-width: 360px;
  margin: 0 auto;
  padding: 2rem;
}

ul.horizontal-scroll {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

ul.horizontal-scroll li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

ul.horizontal-scroll li:hover {
  background-color: #777;
}