* {
  margin: 0;
  padding: 0;

  color: #375a7d;

  font-family: 'Amatic SC';
}

body {
  background: #f57382;
}

.magic-container {
  box-sizing: border-box;
}

.magic-container > .magic-logo {
  text-align: center;
  margin: 32px 0;
  text-decoration: underline;
}

.random-text-container {
  display: flex;
  flex-direction: column;

  margin: 0 20px 64px 20px;
}

.magic-container > .magic-logo,
.random-text-container .random-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 64px;
}

.random-text-container .random-text:nth-child(odd) {
  text-align: end;
}

.btn-container {
  display: flex;
  justify-content: center;

  margin: 0 20px;
}

.btn-container .magic-btn {
  padding: 0 8px;
  font-size: 48px;
  background: #c36e82;
  border: 1px solid #6e5a7d;
}

.btn-container .magic-btn:hover {
  cursor: pointer;
  color: #fab496;
  background: #6e5a7d;
}

.btn-container .magic-btn:first-child {
  margin-right: 16px;
}
